.sec3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    height: 80vh;
    padding-top: 100px;
    gap: 100px;
    margin-bottom: 50px;
}

.sec-3-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-3-2 {
    display: flex;
    justify-content: center; /* centers the boxes horizontally */
    gap: 50px;
    flex-wrap: nowrap;         /* allows wrapping on smaller screens */
    width: 100%;
    max-width: 1000px;
}
.box2{
    border: 2px solid black;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    gap: 15px;
}
.skills{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}

.box2>:nth-child(1){
    font-size: 24px;
    font-weight: 600;
}

.skills-1 img {
    width: 30px;
}
.skills-1{
    display: flex;
    align-items: start;
    gap: 10px;
}

.skills-1-2 {
    display: flex;
    flex-direction: column;
}

.skills-1-2>:nth-child(1){
    font-size: 18px;
    font-weight: 600;
}

@media(max-width:1024px){
    .sec-3-2 {
    flex-direction: column;
    align-items: center;
}
.sec3{
    padding-bottom: 150px;
    height: 100%;
}
.box2{
    
    width: 500px;
    gap: 15px;
}
.skills{
   
    gap: 50px;
}

.box2>:nth-child(1){
    font-size: 28px;
}

.skills-1 img {
    width: 35px;
}
.skills-1{
    
    gap: 15px;
}
.skills-1-2>:nth-child(1){
    font-size: 23px;
    
}

}

@media(max-width:767px){
    .sec-3-2 {
    flex-direction: column;
    align-items: center;
    padding: 0px;
}
.sec3{
    padding-bottom: 150px;
}
.box2{
    
    width: 300px;
    gap: 15px;
}
.skills{
   
    gap: 25px;
}

.box2>:nth-child(1){
    font-size: 18px;
}

.skills-1 img {
    width: 35px;
}
.skills-1{
    
    gap: 10px;
}
.skills-1-2>:nth-child(1){
    font-size: 23px;
    
}

}

@media (max-width: 768px) {
  .sec-3-1 {
    margin-top: 60px;  /* Try increasing this value */
  }

  .sec3 {
    padding-top: 80px;  /* Optional: also adds space above the entire section */
  }
}
